# Shared app config
PROJECT_ROOT=.
NODE_ENV=docker
NETWORK_DIR=./network
PEER_ENDPOINT=peer0.ncc.example.com:7051
TLS_CERT_PATH=./network/crypto-config/peerOrganizations/ncc.example.com/peers/peer0.ncc.example.com/tls/ca.crt
CLIENT_CERT_PATH=./network/crypto-config/peerOrganizations/ncc.example.com/users/Admin@ncc.example.com/msp/signcerts/Admin@ncc.example.com-cert.pem
CLIENT_KEY_PATH=./network/crypto-config/peerOrganizations/ncc.example.com/users/Admin@ncc.example.com/msp/keystore
MSP_ID=NCCMSP
COUCHDB_URL=http://couchdb.ncc.example.com:5984
IPFS_API_URL=http://ipfs:5001

# Frontend
REACT_APP_API_URL=http://backend:3001

# Backend
PORT=3001
